.login {
  margin: 20px auto;
  max-width: 500px; }
  .login .login-header {
    color: white;
    background-color: #68aeeb;
    padding: 10px; }
    .login .login-header h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px; }
  .login .register {
    display: block;
    text-align: center;
    margin-top: 10px; }
    .login .register a {
      color: #68aeeb;
      font-weight: bold;
      text-decoration: none; }